<md-toolbar color="primary" class="toolbar-handle">
  <span>Генератор заданий по теории графов</span>
  <div class="spacer"></div>
  <button (click)="quit()" md-icon-button color="secondary">
    <md-icon>close</md-icon>
  </button>
</md-toolbar>

<div class="viewport">
  <md-card>
    <md-card-content>
      <md-list>
        <h3 md-subheader>Выберите задание из списка</h3>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
        <md-list-item>
          <button md-raised-button color="primary">Выбрать</button>
          <h4 md-line>Поиск кратчайшего пути</h4>
          <p md-line>Алгоритмы Дейсктры, Беллмана-Форда</p>
        </md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions>
      <button md-button>Настройки</button>
    </md-card-actions>
  </md-card>
</div>
